<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>BROTHER RESTO</title>
</head>
<body>
    <header>
        <h1>Brother Resto</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#favorite">Favorite</a></li>
                <li><a href="#about-us">About Us</a></li>
            </ul>
        </nav>
    </header>
    
    <section id="home">
        <div class="container">
            <h2>Home</h2>
            <div class="image-container">
                <div class="image-with-overlay">
                    <img src="./images/heros/hero-image_2.jpg" alt="Selamat Datang Brother, Kami Siap Melayani" class="responsive-image">
                    <div class="text-overlay">
                        <p>Selamat Datang Brother</p>
                        <p>Kami Siap Melayani</p>
                    </div>
                </div>
            </div>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo viverra ex, a cursus urna dignissim nec.</p>
        </div>
    </section>
    
    <section id="favorite">
        <div class="container">
            <h2>Favorite</h2>
            <ul>
                <li>Appetizers</li>
                <li>Main Courses</li>
                <li>Desserts</li>
                <li>Drinks</li>
            </ul>
        </div>
    </section>

    <section id="about-us">
      <div class="container">
          <h2>About Us</h2>
          <p>Follow me on social media </p>
          <div class="icons">
            <a href="https://github.com/maulanafikriash"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.instagram.com/maulanafikri.ash/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/maulana-fikri-ash-shidiq-63749227b/"><i
                    class="fa-brands fa-linkedin"></i></a>
        </div>
      </div>   
  </section>
     
    <footer>
        <p>&copy; 2023 BrotherResto</p>
    </footer>
</body>
</html>


<!-- <img src="./images/heros/hero-image_2.jpg" width="450" alt=""> -->