<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>BROTHER RESTO</title>
</head>
<body>
    <header>
        <h1>Brother Resto</h1>
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#favorite">Favorite</a></li>
                <li><a href="#about-us">About Us</a></li>
            </ul>
        </nav>
    </header>
    
    <section id="home">
        <div class="container">
            <h2>Home</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo viverra ex, a cursus urna dignissim nec.</p>
        </div>
    </section>
    
    <section id="favorite">
        <div class="container">
            <h2>Favorite</h2>
            <ul>
                <li>Appetizers</li>
                <li>Main Courses</li>
                <li>Desserts</li>
                <li>Drinks</li>
            </ul>
        </div>
    </section>

    <section id="about-us">
      <div class="container">
          <h2>About Us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed commodo viverra ex, a cursus urna dignissim nec.</p><br>
          <p>Email: info@restoranxyz.com</p>
          <p>Phone: +1234567890</p>
          <p>Address: 123 Main Street, City</p>
      </div>
      
          
      
  </section>
    
   
   
    
    <footer>
        <p>&copy; 2023 BrotherResto</p>
    </footer>
</body>
</html>


<!-- <img src="./images/heros/hero-image_4.jpg" width="450" alt=""> -->