/* Reset some default styles */
body, h1, h2, ul, li, p {
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 36px;
  margin-left: 30px;
}


nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 30px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

section {
  background-color: #fff;
  padding: 40px 0;
}

section h2 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

section ul {
  list-style: none;
  text-align: center;
}

section ul li {
  font-size: 18px;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
